:root {
  --first-font: "Savate", sans-serif;
  --second-font: "Edu NSW ACT Hand Pre", cursive;
  --third-font: "Playfair Display", serif;
}
h2 {
  font-size: 35px;
}

.picture img {
  border-radius: 10px;
  width: 200px;
}

.container {
  max-width: 800px;
}
