:root {
  --first-font: "Savate", sans-serif;
  --second-font: "Edu NSW ACT Hand Pre", cursive;
  --third-font: "Playfair Display", serif;
  --first-color: #5f7470;
  --second-color: #889696;
  --third-color: #e0e2db;
  --fourth-color: #d2d4c8;
}
.navbar {
  background-color: var(--third-color);
}
.navbar-brand {
  color: var(--first-color) !important;

  font-family: var(--third-font);
}
.nav-link {
  color: var(--second-color) !important;
}
.active {
  color: var(--first-color) !important;
}
.header {
  background-color: #faf9f6;
}
h2 {
  font-size: 35px;
}
h2,
h1,
h5 {
  font-family: var(--second-font);
  color: var(--first-color) !important;
}

p {
  font-family: var(--third-font);
  color: var(--second-color);
}
.learnLink {
  font-family: var(--first-font);
  color: var(--third-color);
  background-color: var(--first-color);
}
.learnLink:hover {
  color: var(--first-color);
  background-color: var(--third-color);
}
.picture img {
  border-radius: 10px;
  width: 200px;
}
.imgLink:hover {
  transform: scale(0.9);
}

.projectLinks img {
  border-radius: 10px;
  margin: 10px;
  width: 200px;
  height: 180px;
}
.footer {
  font-family: var(--third-font);
  background-color: var(--third-color);
  color: var(--first-color);
}
.footerMail {
  font-size: 20px;
  line-height: 20px;
  text-decoration: none;
  color: var(--first-color);
}
.footerMail:hover {
  color: var(--fourth-color);
}
.headercontactMe {
  font-size: 28px;
}
.headercontactMe a {
  text-decoration: none;
  color: var(--first-color);
}
.headercontactMe a:hover {
  color: var(--fourth-color);
}

.email a,
.gitHub a,
.linkedIn a {
  font-family: var(--first-font);
  text-decoration: none;
  color: var(--second-color);
}
.email a:hover,
.gitHub a:hover,
.linkedIn a:hover {
  color: var(--third-color);
}
